<a href="https://colab.research.google.com/github/adityasaxena-crypto/Fakenews_pred/blob/main/Newspred.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Test

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_true = pd.read_csv("/content/drive/MyDrive/data/True.csv")
df_fake = pd.read_csv("/content/drive/MyDrive/data/Fake.csv")

In [4]:
df_true.head()

                                               title  ...                date
0  As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1  U.S. military to accept transgender recruits o...  ...  December 29, 2017
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3  FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4  Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017

[5 rows x 4 columns]

In [15]:
df_true.shape

(21417, 3)

In [6]:
df_fake.head()

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4   Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017

[5 rows x 4 columns]

In [11]:
df_true=df_true.drop("date" , axis =1)
df_false=df_fake.drop("date" , axis =1)

In [19]:
df_true["condition"] = 1

In [21]:
df_false["condition"] = 0

In [22]:
concate_data = pd.concat([df_true,df_false])
concate_data.head()

                                               title  ... condition
0  As U.S. budget fight looms, Republicans flip t...  ...         1
1  U.S. military to accept transgender recruits o...  ...         1
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...         1
3  FBI Russia probe helped by Australian diplomat...  ...         1
4  Trump wants Postal Service to charge 'much mor...  ...         1

[5 rows x 4 columns]

concate_data.shape

In [32]:
X = concate_data.drop("condition", axis =1)
y = concate_data["condition"]

In [44]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorization = TfidfVectorizer() 
x = vectorization.fit_transform(X)

In [45]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(30081, 3) (14817, 3) (30081,) (14817,)

In [46]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0).fit(X_train, y_train)

In [47]:
clf.score(X_test,y_test)

1.0